*{
	font-family: sans-serif;
	color: #E7BD4C;
}

body{
	background-color: #1d1a05;
}

header{
	position: fixed;
	top: 0;
	left: 0;
	background-color: #ca3c25;
	height: 70px;
	width: 100%;
}

.container {
	margin-left: 100px;
	padding: 20px 0px;
}

.container a{
	padding: 0px 20px;
}

.nav{
	padding: 0px 100px;
}

.nav a {
	background-color: #ca3c25;
	display: inline-block;
	border: 1px solid #E7BD4C;
	width: 300px;
	text-decoration: none;
	text-align: center;
}

#contenido{
	margin: 70px;
	padding: 20px 120px 0px;
}

#contenido .img-box{
	width: 200px;
	display: inline-block;
	position: relative;
	margin-right: 10px;
	border: 5px solid #6E6E6E;
}

#contenido .img-box img{
	max-width: 100%;
	float: left;
}

#contenido .img-box span{
	float: left;
	position: absolute;
	left: 10px;
	color: white;
	top: 10px;
	font-family: sans-serif;
}

#contenido .img-box.deleted{
	display: none;
}

.content {
	padding: 30px 30px;
	text-align: justify;
}

.left{
	float: left;
	width: 50%;
}

.right{
	float: right;
	width: 50%;
}