*{
	font-family: sans-serif;
	color: white;
}

body{
	background-color: #1d1a05;
}

.container {
	height: 50px;
	padding-left: 100px;
	background-color: #ca3c25;
}

.container a{
	padding: 20px;
}

.nav{
	padding: 0 100px;
}

.nav a {
	background-color: #ca3c25;
	display: inline-block;
	border: 1px solid black;
	width: 300px;
	text-decoration: none;
	text-align: center;
}

#contenido{
	padding: 20px 120px 30px;
}

#contenido .img-box{
	width: 200px;
	display: inline-block;
	position: relative;
	margin-right: 10px;
	border: 5px solid #6E6E6E;
}

#contenido .img-box img{
	max-width: 100%;
	float: left;
}

#contenido .img-box span{
	float: left;
	position: absolute;
	left: 10px;
	color: white;
	top: 10px;
	font-family: sans-serif;
}

#contenido .img-box.deleted{
	display: none;
}

.content {
	padding: 30px 30px;
	text-align: justify;
}

.left{
	float: left;
	width: 50%;
}

.right{
	float: right;
	width: 50%;
}